.headBanner{
    width:100%;
    background-color: hsl(209, 23%, 22%);
    margin-top: 0px;
    display: flex;
}
.headInfo{
    color:white;
    max-width: 1200px;
    margin:auto; 
}
.searchFlex{
    max-width: 1200px;
    margin: auto;
}